/* Set universal margin, padding and font */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
	background: #091921;
	color: #f3f3f3;
}

/* center and englargen title */
h1 {
	color: white;
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
	font-size: 80px;
}

h2 {
	color: white;
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
	font-size: 40px;
}

header {
	top: 0px;
	left: 0px;
	display: grid;
	grid-template-areas:
		"heading ."
		"nav nav";
	width: -moz-available;
	width: -webkit-fill-available;
}

#heading-div {
	display: flex;
	grid-area: heading;
	padding: 2%;
}

.topnav {
	text-shadow: none;
	grid-area: nav;
	overflow: hidden;
	background: rgb(31, 57, 75);
}

.topnav a {
	float: left;
	font-size: 24px;
	color: white;
	text-align: center;
	padding: 10px 20px;
	text-decoration: none;
	background: #03b1ff;
}

.topnav a:hover {
	color: black;
	background-color: #74ff3b;
}

.topnav a.active {
	color: white;
	background-color: #ff3077;
}

.main-content {
	margin: 15px;
	padding: 10px 25px;
	font-size: 28px;
}

.about-main-content {
	margin: 15px;
	padding: 5px 25px;
	font-size: 16px;
}

ul {
	list-style: circle;
	margin-left: 10px;
}

li {
	margin: 1%;
}

form input {
	font-size: 20px;
	border-radius: 5px;
	border: 1px solid #03b1ff;
}

form textarea {
	font-size: 20px;
	border-radius: 5px;
	border: 1px solid #03b1ff;
}

#submit-listitem {
	list-style: none;
}

#submitbtn {
	border: none;
	border-radius: 5px;
	margin-top: 10px;
	padding: 5px 25px;
	font-size: 24px;
	background-color: #03b1ff;
}

#submitbtn:hover {
	color: white;
	background-color: #74ff3b;
	cursor: pointer;
}

/* set footer to be at bottom of page */
footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: black;
	font-size: 16px;
	color: #fff;
	font-family: "Roboto", arial;
	text-align: center;
}

/* let visited github link to remain white */
a:visited {
	color: white;
}
