/* Set universal margin, padding and font and colors */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
	background: #091921;
	color: #f3f3f3;
}

/* center and englargen title */
h1 {
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
	font-size: 80px;
}

/* smaller title for 404 */
h2 {
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
	font-size: 40px;
}

/* navbar extend to end and background color*/
nav {
	overflow: hidden;
	background: rgb(31, 57, 75);
}

/* navbar style*/
nav a {
	float: left;
	font-size: 24px;

	text-align: center;
	padding: 10px 20px;
	text-decoration: none;
	background: #03b1ff;
}

/* navbar hover style*/
nav a:hover {
	color: black;
	background-color: #74ff3b;
}

/* navbar active button style*/
nav a.active {
	background-color: #ff3077;
}

/* main content style*/
.main-content {
	margin: 15px;
	padding: 10px 25px;
	font-size: 28px;
}

/* list style */
ul {
	list-style: circle;
	margin-left: 10px;
}

/* list margin */
li {
	margin: 1%;
}

/* form input style */
form input {
	margin: 5px;
	font-size: 20px;
	border-radius: 5px;
	border: 1px solid #03b1ff;
}

/* form input style */
form textarea {
	margin: 5px;
	font-size: 20px;
	border-radius: 5px;
	border: 1px solid #03b1ff;
}

/* button not on list*/
#submit-listitem {
	list-style: none;
}

/* button style */
#submitbtn {
	border: none;
	border-radius: 5px;
	margin-top: 10px;
	padding: 5px 25px;
	font-size: 24px;
	background-color: #03b1ff;
}

/* button hover style */
#submitbtn:hover {
	color: white;
	background-color: #74ff3b;
	cursor: pointer;
}

/* set footer to be at bottom of page */
footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: black;
	font-size: 16px;
	color: #fff;
	font-family: "Roboto", arial;
	text-align: center;
}

/* let visited github link to remain white */
a:visited {
	color: white;
}
